<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quiz.title | e }}</title>
    <link rel="stylesheet" href="/static/navbar.css"> 
    <link rel="stylesheet" href="/static/quizzes.css"> 
</head>
<body>
    {% include 'components/navbar.html' %}

    <div class="quizPage">
        <h1>{{ quiz.title | e }}</h1>

        <h2>Questions:</h2>
        <ul>
            {% for question, details in quiz.questions.items() %}
            <li>
                <p><strong>Question:</strong> {{ question | e }}</p>
                <p><strong>Correct Answer:</strong> <span class="correct">{{ details.correct_answer | e }}</span></p>
                <p><strong>Choices:</strong></p>
                <ul>
                    {% for choice in details.choices %}
                    <li>{{ choice | e }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>

        <a href="/dashboard">Back to quizzes</a>
    </div>
</body>
</html>
