<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quiz['title'] }}</title>
    <link rel="stylesheet" type="text/css" href="/static/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/quizzes.css">
</head>
<body>
    {% include 'components/navbar.html' %}
    <div class="quizPage">
        <h1>{{ quiz['title'] }}</h1>
        <p>{{ quiz['description'] }}</p>
        
        <h2>Questions:</h2>
        <ul>
            {% for question, answers in quiz['questions'].items() %}
                <li>
                    <strong>{{ question }}</strong>
                    <ul>
                        <li class="correct">{{ answers[0] }}</li>
                        {% for wrong_answer in answers[1] %}
                            <li class="wrong">{{ wrong_answer }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    
        <a href="/dashboard">Back to quizzes</a>
    </div>
</body>
</html>
